  
  .bg-custom {
    background-color: #FDF7FF /* replace with your desired color value */
  }
  
  .bg-dark-custom{
    background-image: linear-gradient(15deg, #42374E 0%, #28242C 100%);
  }

  .image-container {
    position: relative;
    height: 50vh; /* set the height of the container to the height of the viewport */
    overflow: hidden; /* hide any overflow from the image */
    margin-bottom: -54px;
  }

  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* scale the image to cover the entire container */
  }

  .search-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .search-container input[type="text"] {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }

  .search-container button {
    width: 5%;
    background-color: #A97BE2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .image-container img {
      max-width: 100%;
    }
    
    .search-container {
      padding: 10px;
    }
    
    .search-container input[type="text"] {
      width: 50%;
      padding: 5px;
    }
    
    .search-container button {
      width: 30%;
      padding: 5px;
    }
  }

  